

body {
    font-family: 'adobe-clean', 'Adobe Clean';
    margin: 0;
    padding: 0;
}
header {
    height: 64px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 20px;
}

header .icon {
    height: 35px;
    width: 35px;
    position: relative;
    top: 0;
    margin-right: 10px;
}

header .logo {
    display: inline-flex;
    align-self: center;
    font-size: 27px;
    font-weight: 200;
    margin: 5px;
    color: #888;
}

a.button:any-link {
    text-decoration: none;
    border-radius: 18px;
    padding: 0px 1.2em;
    height: 36px;
    outline: none;
    text-align: center;
    line-height: 34px;
    font-size: 1rem;
    background-color: #1473e6;
    font-weight: 500;
    cursor: pointer;
    color: #fff;
    transition: background-color .4s;
    margin: 10px;
    display: inline-block;
}

main {
    text-align: center;
}

main img {
    max-width: 100%;
}

main .section-wrapper>div {
    margin: auto; 
    max-width: 950px;
    padding: 64px 32px;
}

main .hero {
    color: white;
    text-shadow: 1px 1px 2px rgba(0,0,0,.25);
    position: relative;
    padding: 64px 32px;
}

main .hero.hero-noimage {
    color: black;
}

main .hero h1 {
    font-size: 2em;
    font-weight: 900;
}

main .hero .hero-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    z-index: -1;
}

main .hero .hero-bg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.blog-page main .byline {
    font-size: 0.8em;
    color: #888;
}

.blog-page main .byline img {
    height: 1em;
    width: 1em;
    display: inline-block;
    margin-bottom: -3px;
    opacity: 0.5;
}

main .section-wrapper.hero > div {
    padding: 0;
}

.hidden {
    display: none;
}

@media (min-width:600px) {
    main>.hero h1 {
        font-size: 3em;
    }
}

@media (min-width:900px) {
    main>.hero h1 {
        font-size: 3.5em;
    }
}

#discount-terms--conditions-call-800-915-9428-for-questions-or-purchase-orders {
    margin: 2em auto 4em auto;
    font-size: 14px;
    text-shadow: none;
    color: #82919c;
}

#discount-terms--conditions-call-800-915-9428-for-questions-or-purchase-orders a {
    font-size: 14px;
    color: #82919c!important;
}

a.button.secondary {
    border-radius: 24px;
    background: rgba(255,255,255,1);
    color: #82919b;
    border: 2px #82919b solid;
    font-size: 16px;
    font-weight: 600;
    padding: 2px 40px;
}

a.button.secondary:hover {
    background-color: #82919b;
    color: white;
}

.icon.icon-creative-cloud {
    margin-top: 50px;
}

#adobe-spark-is-a-part-of-most-creative-cloud-paid-plans-learn-more {
    font-size: 16px;
    color: rgb(130, 145, 156);
    font-weight: normal;
    text-shadow: none;
}

#adobe-spark-is-a-part-of-most-creative-cloud-paid-plans-learn-more a {
    color: #1473e6!important;
    text-decoration: none!important;
}

/** PLAN BLOCKS **/

.plans-container {
    background-color: rgba(242,244,245,1);
}

.columns-primary-container>div,
.columns-secondary-container>div,
.columns-tertiary-container>div,
.list-primary-container>div,
.list-secondary-container>div,
.list-tertiary-container>div {
    max-width: none!important;
}

.plans-container>div {
    max-width: 1140px!important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#do-more-with-your-brand {
    max-width: 250px;
    color: rgb(40, 70, 96);
    font-size: 40px;
    font-weight: 900;
    text-shadow: none;
    text-align: left;
    margin-top: 0;
}

.plans {
    display: inline-flex;
    justify-content: space-between;
    width: 780px;
}

.plan {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 210px;
    height: 300px;
    padding: 20px;
    text-shadow: none;
    align-items: center;
}

.plan.promotional {
    border: 2px #5167CF solid;
    width: 206px;
    height: 296px;
}

.plan-promotional-header {
    position: absolute;
    display: flex;
    background: linear-gradient(#FFDA00, #e6ab00);
    height: 30px;
    width: 250px;
    top: -32px;
    font-weight: 600;
    font-size: 12px;
    color: black;
    border-radius: 10px 10px 0 0;
    align-items: center;
    justify-content: center;
}

.plan-header {
    display: flex;
    text-align: left;
    border-bottom: 1px #DBDBDB solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
    min-height: 100px;
}

.plan-image {
    align-self: start;
}

.plan-title {
    font-weight: 900;
    font-size: 20px;
    color: rgb(53,65,76);
    text-align: left;
}

.plan-description {
    font-size: 13px;
    color: rgb(53,65,76);
    text-shadow: none;
}

.plan-pricing {
    font-size: 14px;
    color: rgb(53,65,76);
}

.previous-pricing {
    position: relative;
    margin-left: 20px;
}

.previous-pricing::after {
    position: absolute;
    content: '';
    width: 110%;
    top: 45%;
    left: -5%;
    height: 2px;
    background-color: red;
}

.plan-pricing strong {
    font-size: 24px;
    color: black;
}

.plan-pricing-description {
    font-size: 13px;
    color: rgb(53,65,76);
}

.plan-bottom {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}

.plan-dropdown {
    padding: 7px 10px;
    border-radius: 5px;
    width: 165px;
    border: 1px solid #dce0e3;
}

.plan-button {
    width: 145px;
    height: 40px;
    font-size: 16px;
    font-weight: 900;
    background-color: #5167CF;
    color: white;
    border-radius: 24px;
    border: none;
    margin-top: 1em;
    cursor: pointer;
    outline: none;
    transition: .2s all ease-in;
}

.plan-button:hover, .plan-button:active {
    background-color: rgba(62,82,197,1);
}

.plan-features-container {
    display: none;
}

@media (max-width: 1200px) {
    .plans-container>div {
        display: flex;
        justify-content: flex-end;
    }

    #do-more-with-your-brand {
        font-size: 32px;
        width: auto;
        max-width: none;
        margin-right: 220px;
        margin-bottom: 60px;
    }
}

@media (max-width: 1100px) {
    .plans-container {
        padding-bottom: 0!important;
    }

    #do-more-with-your-brand {
        margin: 0 0 40px 0;
    }

    .plans-container>div {
        justify-content: center;
    }

    .plans {
        flex-direction: column;
        margin: 0;
        justify-content: center;
        align-items: center;
    }

    .plan {
        flex-grow: 1;
        width: auto;
        max-width: 560px;
        height: auto;
        margin-bottom: 60px;
        padding: 40px 20px;
    }

    .plan.promotional {
        width: auto;
        max-width: 560px;
        margin-top: 30px;
        height: auto;
        padding: 40px 20px;
    }

    .plan-promotional-header {
        width: calc(100% + 4px);
        max-width: 604px;
    }

    .plan-pricing {
        display: flex;
        flex-direction: column;
    }

    .previous-pricing {
        margin-top: 10px;
        margin-left: 0;
        margin-bottom: 5px;
    }

    .plan-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: none;
    }

    .plan-header-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .plan-image {
        align-self: center;
        width: 100px;
    }

    .plan-features-container {
        display: block;
        text-align: left;
    }

    .plan-features-category {
        display: block;
        font-size: 18px;
        font-weight: 600;
        padding: 0 20px;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .plan-feature {
        display: flex;
        padding: 0 20px;
        max-width: 600px;
        margin-top: 20px;
        align-items: center;
    }

    .plan-feature-image {
        width: 40px;
        height: 40px;
    }

    .plan-feature-text {
        margin: 0 0 0 20px;
        font-size: 16px;
        color: rgb(53, 65, 76);
        line-height: 1.2;
    }
}

@media (max-width: 600px) {
    .plan {
        max-width: 280px;
        padding: 40px 10px;
    }

    .plan.promotional {
        width: auto;
        max-width: 280px;
        padding: 40px 10px;
        margin-top: 30px;
    }

    .plan-features-category {
        font-size: 14px;
        font-weight: 600;
        padding: 0 10px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .plan-feature {
        display: flex;
        padding: 0 10px;
        max-width: 600px;
        margin-top: 20px;
        align-items: center;
    }

    .plan-feature-image {
        width: 25px;
        height: 25px;
    }

    .plan-feature-text {
        margin: 0 0 0 20px;
        font-size: 12px;
    }
}

/** PRICING GRID **/

.feature-comparison {
    margin: 0 auto;
    max-width: 1140px;
    text-shadow: none;
}

.category-header {
    margin-top: 1em;
    text-align: left;
    display: flex;
    height: 60px;
    align-items: center;
}

.category-image {
    width: 30px;
    margin-left: 10px;
}

.category-title {
    margin-left: 20px;
    font-size: 21px;
    color: rgb(53, 65, 76);
    font-weight: 600;
}

.feature-row {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.feature-row:nth-child(odd) {
    background-color: rgba(242,244,245,1);
}

.feature-special {
    min-width: 40px;
    text-align: center;
}

.feature-special span {
    background-color: rgba(15,196,89,1);
    height: 50px;
    border-radius: 3px;
    font-weight: bolder;
    font-size: 10px;
    color: rgb(255, 255, 255);
    padding: 2px 6px;
}

.feature-column {
    min-width: 250px;
    margin-right: 15px;
}

.feature-column:last-child {
    margin-right: 0;
}

.feature-title-container {
    width: 100%;
    margin-right: 10px;
    padding-left: 20px;
    text-align: left;
}

.feature-title {
    font-size: 14px;
    color: rgb(53, 65, 76);
}

@media (max-width: 1100px) {
    .feature-comparison {
        display: none;
    }
}

/** CONTACT BLOCK **/

.contact-container {
    background-color: rgba(242,244,245,1);
}

.contact-block-container {
    display: flex;
    text-shadow: none;
    margin-bottom: 1em;
    align-items: center;
    justify-content: center;
}

.contact-block {
    display: flex;
    background-color: white;
    width: 680px;
    height: 80px;
    align-items: center;
}

.contact-block-title {
    width: 200px;
    font-size: 18px;
    color: black;
    font-weight: 600;
    margin-right: 80px;
}

.contact-block-phone-container {
    width: 220px;
}

.contact-block-phone {
    font-size: 18px;
    color: rgb(130, 145, 156);
}

.contact-block-text-container {
    width: 460px;
}

.contact-block-text {
    padding: 0 20px;
    font-size: 14px;
    color: rgb(53, 65, 76);
}

@media (max-width: 1200px) {
    .contact-block-container {
        flex-direction: column;
    }

    .contact-block-title {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .contact-block {
        margin-bottom: 40px;
    }
}

@media (max-width: 1100px) {
    .contact-container>div {
        padding-top: 0!important;
    }

    .contact-block {
        display: flex;
        flex-direction: column;
        padding: 20px 0;
        max-width: 100%;
        height: auto;
    }

    .contact-block-text {
        margin-bottom: 0;
    }

    .contact-block-text-container {
        width: auto;
    }

    #discount-terms--conditions-call-800-915-9428-for-questions-or-purchase-orders {
        margin-top: 0;
    }

    .icon-creative-cloud {
        margin-top: 0!important;
    }
}

@media (max-width: 600px) {
    .contact-block {
        max-width: 300px;
    }

    #discount-terms--conditions-call-800-915-9428-for-questions-or-purchase-orders {
        max-width: 300px;
    }

    #adobe-spark-is-a-part-of-most-creative-cloud-paid-plans-learn-more {
        max-width: 300px;
        font-size: 14px;
        margin: 0 auto;
    }
}


/** COLUMNS CSS **/

.columns-primary, .columns-secondary, .columns-tertiary {
    margin: 0 auto;
    max-width: 1140px;
}

.column {
    display: flex;
    width: 100%;
    margin: 50px auto;
}

.column-title {
    width: 460px;
    font-size: 40px;
    font-weight: 600;
    text-align: left;
    margin-top: 0;
    margin-bottom: 40px;
}

.column-title.primary {
    color: rgb(75, 0, 176);
}

.column-title.secondary {
    color: rgb(255, 73, 49);
}

.column-title.tertiary {
    color: rgb(16, 196, 89);
}

.column-text {
    font-size: 22px;
    color: rgb(40, 70, 96);
    text-align: left;
}

.column-image {
    width: 50%;
}

@media (max-width: 1200px) {
    .column {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 600px;
        align-items: center;
    }

    .column-title {
        width: auto;
    }

    .column-image {
        margin-top: 50px;
        width: 100%;
    }
}

@media (max-width: 900px) {
    .columns-tertiary-container>div {
        padding-bottom: 0!important;
    }

    .column-title {
        font-size: 32px;
        text-align: center;
        margin-bottom: 20px;
    }

    .column-text {
        font-size: 18px;
        text-align: center;
    }

    .column-image {
        width: 80%;
        margin-top: 20px;
    }
}

@media (max-width: 600px) {
    .column {
        max-width: 300px;
    }

    .column-title {
        max-width: 240px;
        font-size: 24px;
        margin: 0 auto;
    }

    .column-text {
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 1.2;
    }

    .column-image {
        width: 100%;
    }
}


/** LIST CSS **/

.list-primary, .list-secondary, .list-tertiary {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.list-item {
    margin-bottom: 50px;
    width: 310px;
}

.list-item-title {
    font-size: 16px;
    font-weight: 600;
}

.list-item-title.primary {
    color: rgb(75, 0, 176);
}

.list-item-title.secondary {
    color: rgb(255, 73, 49);
}

.list-item-title.tertiary {
    color: rgb(16, 196, 89);
}

.list-item-text {
    font-size: 14px;
    color: rgb(40, 60, 96);
}

@media (max-width: 1200px) {
    .list-primary, .list-secondary, .list-tertiary {
        margin-top: 80px;
        max-width: 900px;
    }
}

@media (max-width: 600px) {
    .list-primary, .list-secondary, .list-tertiary {
        max-width: 300px;
    }

    .list-item-text {
        font-size: 14px;
        line-height: 1.2;
    }
}